/* Nova Rounding Adjustments */
:root {
	--border-radius-xsmall: 1px !important; /* Nova Default: 4px, Proton Default: 2px */
	--border-radius-small: 2px !important; /* Nova Default: 8px, Proton Default: 4px */
	--border-radius-medium: 3px !important; /* Nova Default: 12px, Proton Default: 8px */
	--border-radius-large: 4px !important; /* Proton Default: 16px, [Undefined in Nova] */
	--border-radius-xlarge: 6px !important; /* Nova Default: 24px, [Undefined in Proton] */
	
	/*
	--tab-border-radius: var(--border-radius-small) !important;

	--button-border-radius: var(--border-radius-small) !important;
	--toolbarbutton-border-radius: var(--border-radius-small) !important;

	--card-border-radius: var(--border-radius-small) !important;
	--card-border-radius-compact: var(--border-radius-small) !important;
	--card-cover-image-border-radius: var(--border-radius-small) !important;

	--input-text-border-radius: var(--border-radius-small) !important;

	--menuitem-border-radius: var(--border-radius-small) !important;

	--popup-border-radius: var(--border-radius-small) !important;

	--panel-border-radius: var(--border-radius-small) !important;
	--panel-menuitem-border-radius: var(--border-radius-small) !important;
	*/
}
	
#tabbrowser-tabpanels {
    margin-inline-start: 0px !important;
    margin-top: 0px !important;
    margin-inline-end: 8px !important;
    margin-bottom: 8px !important;

    /* Force global variable override for modern layout rendering engines */
    --content-border-radius: 10px !important;
    border-radius: var(--content-border-radius) !important;
    overflow: hidden !important; 
}